@{
    ViewData["Title"] = "За нас";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Adventures.styles.css" asp-append-version="true" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body>
    <section>
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>За нас</h1>
                </div>
                <div class="content">
                    <h3>
                        Adventum е компания от хора, работещи за забавата, екстремността и различното.
                        Семейството ни съществува вече 10 години и поддържа сайта ни в класацията на топ 5 най-добри сайтове за екстремности.
                        Обичаме непредвиденото, изненадите и природата. Ако смяташ, че си приличаме в това, побързай да се свържеш с нас и не изпускай забавата!
                    </h3>
                </div>
                <div class="social">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-pinterest"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="/photos/ADVENTUM.png" />
            </div>
        </div>
    </section>
    <section>
        <div class="container-2">
            <div class="content-box-lg">
                <div class="container-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="bi bi-book"></i>
                                <h3>МИСИЯ</h3>
                                <hr />
                                <p>
                                    Мисията ни е да накараме все повече хора да излязат от зоната си на комфорт.
                                    Да изпробват нещо ново, екстремно и красиво.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="bi bi-globe"></i>
                                <h3>ВИЖДАНЕ</h3>
                                <hr />
                                <p>
                                    Мотивирани сме да продължаваме да бъдем част от живота на всеки един от вас,
                                    успявайки да запечатаме вашите незабравими моменти - това са нашите цели.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="bi bi-pencil"></i>
                                <h3>ПОСТИЖЕНИЯ</h3>
                                <hr />
                                <p>
                                    За нас всяка една усмивка на лицата ви е постижение, с което сме горди и целим да бъдат все повече усмивки за в бъдеще.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 class="heading">
                Нашият екип
            </h1>
            <div class="card-wrapper">
                <div class="card">
                    <img src="/photos/card-bg.jpg" class="card-img" alt="card background"/>
                    <img src="/photos/man1.jpg" class="profile-img" alt="profile img" />
                    <h1>Михаил Колев</h1>
                    <p class="job-title">Главен ръководител</p>
                    <p class="about">Ръководи екипа, разпределя отговорности и координира проектите.</p>
                    <a href="#" class="btn">Свържи се</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                    </ul>
                </div>

                 <div class="card">
                    <img src="/photos/card-bg.jpg" class="card-img" alt="card background"/>
                    <img src="/photos/woman1.jpg" class="profile-img" alt="profile img" />
                    <h1>Наталия Иванова</h1>
                    <p class="job-title">Софтуерен разработчик</p>
                    <p class="about">Поддържа функциите на сайта, обновява информацията.</p>
                    <a href="#" class="btn">Свържи се</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                    </ul>
                </div>

                 <div class="card">
                    <img src="/photos/card-bg.jpg" class="card-img" alt="card background"/>
                    <img src="/photos/woman2.jpg" class="profile-img" alt="profile img" />
                    <h1>Мариела Цанкова</h1>
                    <p class="job-title">Отдел "Маркетинг и реклама"</p>
                    <p class="about">Поддържа връзка с медиите и разпространява услугите на компанията.</p>
                    <a href="#" class="btn">Свържи се</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="/photos/card-bg.jpg" class="card-img" alt="card background" />
                    <img src="/photos/man2.jpg" class="profile-img" alt="profile img" />
                    <h1>Александър Спасов</h1>
                    <p class="job-title">Отдел "Екипировки"</p>
                    <p class="about">Отговаря за осигуряването на сигурна екипировка за треньори и клиенти.</p>
                    <a href="#" class="btn">Свържи се</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
