
@{
    ViewData["Title"] = "Галерия";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/gallery.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Adventures.styles.css" asp-append-version="true" />
</head>


@*<div class="gallery-container section-container">
    <div class="container">
        <div class="row">
            <div class="col gallery section-description wow fadeIn">
                <h2>Gallery</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- First row of images -->
                <div class="row">
                    <div class="col-md-4 gallery-box wow fadeInDown">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="~/photos/snow1.jfif" alt="Image 1" data-target="#myCarousel" data-slide-to="0">
                        </div>
                    </div>
                    <div class="col-md-4 gallery-box wow fadeInUp">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="~/photos/snow2.jfif" alt="Image 2" data-target="#myCarousel" data-slide-to="1">
                        </div>
                    </div>
                    <div class="col-md-4 gallery-box wow fadeInDown">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="~/photos/snow3.jfif" alt="Image 3" data-target="#myCarousel" data-slide-to="2">
                        </div>
                    </div>
                    <div class="col-md-4 gallery-box wow fadeInDown">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="~/photos/snow4.jfif" alt="Image 4" data-target="#myCarousel" data-slide-to="2">
                        </div>
                    </div>
                </div>
                <!-- Second row of images -->
                <div class="row">
                    <div class="col-md-4 gallery-box wow fadeInUp">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="assets/img/gallery/video-2.jpg" alt="Video 2" data-target="#myCarousel" data-slide-to="3">
                        </div>
                    </div>
                    <div class="col-md-4 gallery-box wow fadeInDown">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="assets/img/gallery/3.jpg" alt="Image 3" data-target="#myCarousel" data-slide-to="4">
                        </div>
                    </div>
                    <div class="col-md-4 gallery-box wow fadeInUp">
                        <div data-toggle="modal" data-target="#myModal">
                            <img src="assets/img/gallery/4.jpg" alt="Image 4" data-target="#myCarousel" data-slide-to="5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<body>
    <h1>Галерия</h1>
    <h2>Ски, сноуборд, моторна шейна</h2>
    <div class="main-scroll-div">
        <div class="cover">
            <div class="scroll-images">
            <div class="child">
                    <img src="~/photos/snow1.jfif" data-imagesrc="photos/snow1" alt="snow" class="child-img" />
            </div>
                <div class="child">
                    <img src="~/photos/snow2.jfif" data-imagesrc="photos/snow2" alt="snow" class="child-img" />
                </div>
                <div class="child">
                    <img src="~/photos/snow3.jfif" data-imagesrc="photos/snow3" alt="snow" class="child-img" />
                </div>
                <div class="child">
                        <img src="~/photos/snow4.jfif" data-imagesrc="photos/snow4" alt="snow" class="child-img" />
                </div>
                <div class="child">
                    <img src="~/photos/snow5.jfif" data-imagesrc="photos/snow5" alt="snow" class="child-img" />
                </div>
                <div class="child">
                    <img src="~/photos/snow6.jfif" data-imagesrc="photos/snow6" alt="snow" class="child-img" />
                </div>
                <div class="child">
                    <img src="~/photos/snow7.jfif" data-imagesrc="photos/snow7" alt="snow" class="child-img" />
            </div>
            <div class="child">
                    <img src="~/photos/snow8.jfif" data-imagesrc="photos/snow8" alt="snow" class="child-img" />
            </div>
            <div class="child">
                    <img src="~/photos/snow9.jfif" data-imagesrc="photos/snow9" alt="snow" class="child-img" />
            </div>
            <div class="child">
                        <img src="~/photos/snow10.jfif" data-imagesrc="photos/snow10" alt="snow" class="child-img" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
