@{
    ViewData["Title"] = "Начало";
}
<body>
    <section id="welcomeIMG">
        <img src="~/photos/homeGIF.gif" id="homeGIF" class="img-fluid" />
    </section>
    
    @*<div class="container">
        <div class="info-images">
            <div class="image" id="bungee">
                <p class="h">БЪНДЖИ СКОК</p>
            </div>
            <div class="image" id="balloon">
                <p class="h">БАЛОН С ГОРЕЩ ВЪЗДУХ</p>
            </div>
            <div class="image" id="paragliding">
                <p class="h">ПАРАПЛАНЕРИЗЪМ</p>
            </div>
            <div class="image" id="skydiving">
                <p class="h">СКОК ОТ САМОЛЕТ</p>
            </div>
            <div class="image" id="rock">
                <p class="h">ПЛАНИНСКО КАТЕРЕНЕ</p>
            </div>
            <div class="image" id="atv">
                <p class="h">РАЗХОДКА С АТВ</p>
            </div>
            <div class="image" id="rafting">
                <p class="h">РАФТИНГ</p>
            </div>
            <div class="image" id="snow">
                <p class="h">СКИ, МОТОРНА ШЕЙНА, СНОУБОРД</p>
            </div>
        </div>
        <br />
        <div class="contacts container-fluid bg-grey">
            <h2 class="text-center">Контакти</h2>
            <div class="row">
                <div class="col-sm-5">
                    <p id="contacts-text">Ще се свържем с Вас в следващите 24ч.</p>
                    <p id="con-place"><span class="con-icons"><i class="bi bi-geo-alt"></i></span><span class="con-line">София, България</span></p>
                    <p id="con-phone"><span class="con-icons"><i class="bi bi-telephone"></i></span><span class="con-line"> +359 123 123 123</span></p>
                    <p id="con-mail"><span class="con-icons"><i class="bi bi-envelope"></i></span><span class="con-line" id="email-text"> adventum@gmail.com</span></p>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <br />
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-outline-secondary" type="submit" id="send">Изпрати съобщение...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
   
    <div class="sports">
        
        <div class="item snow">
            @*<img class="imgSport" src="~/photos/snow.jfif"/>*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="SnowPage"><p class="sport-text">СКИ, СНОУБОРД, МОТОРНА ШЕЙНА</p></a>
                </div>
        </div>
        <div class="item ATV">
                @*<img class="imgSport"  src="~/photos/ATV.jfif" />*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="ATVpage"><p class="sport-text">ATV РАЗХОДКА</p></a>
                </div>
        </div>
        <div class=" item rafting">
                @*<img class="imgSport" src="~/photos/rafting.jpg" />*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="RaftingPage"><p class="sport-text">РАФТИНГ</p></a>
                </div>
        </div>
        <div class=" item rock">
                @*<img class="imgSport" src="~/photos/rock.jfif" />*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="ClimbPage"><p class="sport-text">СКАЛНО КАТЕРЕНЕ</p></a>
                </div>
        </div>
         <div class="item bungee">
                @*<img class="imgSport" src="~/photos/bungee.jfif" />*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="BungeePage"> <p class="sport-text">БЪНДЖИ СКОК</p></a>
            </div>
        </div>
         <div class="item balloon">
               @* <img class="imgSport" src="~/photos/balloon.jpg" />*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="BalloonPage"><p class="sport-text">ПОЛЕТ/СКОК ОТ БАЛОН</p></a>
                </div>
         </div>
         <div class="item paragliding">
                @*<img class="imgSport" src="~/photos/paragliding.jpg" />*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="ParaPage"><p class="sport-text">ПОЛЕТ С ПАРАПЛАНЕР</p></a>
                </div>
         </div>
        <div class="item skydive">
                @*<img class="imgSport" src="~/photos/skydiving.jfif"/>*@
                <div class="overlay">
                <a asp-area="" asp-controller="Home" asp-action="SkydivePage"><p class="sport-text">СКОК ОТ САМОЛЕТ</p></a>
                </div>
        </div>
    </div>
</body>
