@{
    ViewData["Title"] = "Начало";
}
<style>
    
    p{
        color:dimgrey;
        font-size:25px;
    }
</style>
<body>
<div class="text-center">
    <h1 class="display-4">Добре дошли в Adventum</h1>
    <p>
        "Понякога ми потичат сълзи от очите, от страх. Фокус и концентрация, това е рецепта. Страхът е предизвикателство. 
        Трябва да го преодолееш и ако успееш, ставаш по-добър."
        - Сани Жекова
    </p>
    </div>
</body>
