@{
    ViewData["Title"] = "РАФТИНГ";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/raftingPage.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Adventures.styles.css" asp-append-version="true" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body>

    <div id="container">
        <div id="image">
            <img src="~/photos/rafting-header.png" />
        </div>
        <div class="content">
            <h2>РАЗНООБРАЗИЕ</h2>
            <h4>РАФТИНГ</h4>
        </div>

        <div class="icons">
            <a href="#text1"><i class="bi bi-card-text"></i></a>
            <a href="#events1"><i class="bi bi-list-nested"></i></a>
            <a href="#gallery1"><i class="bi bi-images"></i></a>

        </div>
    </div>

    <section>

        <div class="description" id="text1">

            <h1 class="heading">ОПИСАНИЕ</h1>
            <div class="text-box-container">
               <div class="card-descr">
                   <i class="bi bi-geo-alt"></i>
                   <h5>Къде?</h5>
                   <div class="pra">
                        <p>Кресненско дефиле<br />
                            р. Струма<br />
                            р. Искър <br />
                            р. Тара, р. Арда
                        </p>
                   </div>
               </div>

               <div class="card-descr">
                    <i class="bi bi-calendar-check"></i>
                   <h5>Кога?</h5>
                   <div class="pra">
                        <p>От април до септември
                        </p>
                   </div>
               </div>

               <div class="card-descr">
                    <i class="bi bi-headset-vr"></i>
                   <h5>Екипировка</h5>
                   <div class="pra">
                        <p>Всеки участник ще получи необходимата предпазна екипировка - каска, жилетка, неопрен, яке и обувки. 
                        </p>
                   </div>
               </div>

               <div class="card-descr">
                    <i class="bi bi-list"></i>
                   <h5>Условия</h5>
                   <div class="pra">
                        <p>Необходима е предварителна резервация - поне 3 дни преди желаната дата за приключението.
                        </p>
                   </div>
               </div>

               <div class="card-descr">
                    <i class="bi bi-hourglass-split"></i>
                   <h5>Времетраене</h5>
                   <div class="pra">
                        <p>Около 3 часа - 2 часа плаване и 1 час подготовка.
                        </p>
                   </div>
               </div>

                <div class="card-descr">
                    <i class="bi bi-exclamation-circle"></i>
                    <h5>Ограничения</h5>
                    <div class="pra">
                        <p>
                           Деца под 16 години не се допускат.<br />
                           Деца между 16 и 18 години трябва да се придружават от родител или да имат разрешение от такъв. <br />
                           Без проблем се допускат лица над 18 години.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1 class="heading">СЪБИТИЯ</h1>
        <div class="events" id="events1">

            <div class="card">
                <div class="face front">
                    <img src="~/photos/rafting1.jfif" class="" alt="" />
                    <h2>Рафтинг по р.Струма</h2>
                </div>
                <div class="face back">
                    <h2>Рафтинг по р.Струма</h2>
                    <p>Вълнуващо приключение за теб и цялата компания.</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/rafting2.jfif" class="" alt="" />
                    <h2>Екстремен ден в Кресненското дефиле</h2>
                </div>
                <div class="face back">
                    <h2>Екстремен ден в Кресненското дефиле</h2>
                    <p>Наслади се на един различен ден!</p>
                    <div class="details"><a href="#">Виж повече</a></div>
                </div>


            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/rafting3.jfif" class="" alt="" />
                    <h2>Рафтинг по р.Искър</h2>
                </div>
                <div class="face back">
                    <h2>Рафтинг по р.Искър</h2>
                    <p>10 км по р.Искър с твоите приятели - колко яко!</p>
                    <div class="details"><a href="#">Виж повече</a></div>
                </div>

            </div>

            <div class="card">
                <div class="face front">
                    <img src="~/photos/rafting10.jfif" class="" alt="" />
                    <h2>Рафтинг по р.Струма + въжена градина</h2>
                </div>
                <div class="face back">
                    <h2>Рафтинг по р.Струма + въжена градина</h2>
                    <p>Със своите 13 км спускане, Струма е топ река!</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/rafting4.jfif" class="" alt="" />
                    <h2>Рафтинг по р.Арда</h2>
                </div>

                <div class="face back">
                    <h2>Рафтинг по р.Арда</h2>
                    <p>Създай един от най-ярките си спомени по р.Арда!</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>
                <a></a>

            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/rafting6.jfif" class="" alt="" />
                    <h2>Рафтинг по р.Тара</h2>
                </div>

                <div class="face back">
                    <h2>Рафтинг по р.Тара</h2>
                    <p>Готов ли си за истински рафтинг?</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section>

        <div class="gallery" id="gallery1">
            <h1 class="heading">СНИМКИ</h1>
            <div class="g-content">
                <a class="g-item" href=" ~ /photos/rafting5.jfif" @*data-lightbox="models" data-title=""*@>
                    <img src="~/photos/rafting5.jfif" />
                </a>
                <a class="g-item" href="~/photos/rafting3.jfif" data-lightbox="models" data-title="ATV до София"><img src="~/photos/rafting3.jfif" /></a>
                <a class="g-item" href="~/photos/rafting8.png" data-lightbox="models" data-title="Офроуд до Боровец"><img src="~/photos/rafting8.png" /></a>
                <a class="g-item" href="~/photos/rafting1.jfif" data-lightbox="models" data-title="Каране около В.Търново"><img src="~/photos/rafting1.jfif" /></a>
                <a class="g-item" href="~/photos/rafting7.jfif" data-lightbox="models" data-title="Преход из Родопите"><img src="~/photos/rafting7.jfif" /></a>
                <a class="g-item" href="~/photos/rafting9.jfif" data-lightbox="models" data-title="Преход до Добринище"><img src="~/photos/rafting9.jfif" /></a>
                <a class="g-item" href="~/photos/rafting2.jfif" data-lightbox="models" data-title="Офроуд във В.Търново и околностите"><img src="~/photos/rafting2.jfif" /></a>
                <a class="g-item" href="~/photos/rafting10.jfif" data-lightbox="models" data-title="Каране край Белоградчик"><img src="~/photos/rafting10.jfif" /></a>

            </div>

            <div class="popup-img">
                <div class="alert alert-success alert-dismissible">
                    @* <span>&times;</span>*@
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <img src="~/photos/rafting5.jfif" />
                </div>
            </div>
        </div>
    </section>
</body>
