@{
    ViewData["Title"] = "СКОК ОТ САМОЛЕТ";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/skydivePage.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/Adventures.styles.css" asp-append-version="true" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body>

    <div id="container">
        <div id="image">
            <img src="~/photos/skydive-png.png" />
        </div>
        <div class="content">
            <h2>СКОРОСТ</h2>
            <h4>СКОК ОТ САМОЛЕТ</h4>
        </div>

        <div class="icons">
            
                <a href="#text1"><i class="bi bi-card-text"></i></a>
                <a href="#events1"><i class="bi bi-list-nested"></i></a>
                <a href="#gallery1"><i class="bi bi-images"></i></a>
      
        </div>
    </div>

    <section>

        <div class="description" id="text1">

            <h1 class="heading">ОПИСАНИЕ</h1>
            <div class="text-box-container">
                <div class="card-descr">
                    <i class="bi bi-geo-alt"></i>
                    <h5>Къде?</h5>
                    <div class="pra">
                        <p>
                            Монтана<br />
                            Сапарева баня (до София)<br />
                            Шумен
                        </p>
                    </div>
                </div>

                <div class="card-descr">
                    <i class="bi bi-calendar-check"></i>
                    <h5>Кога?</h5>
                    <div class="pra">
                        <p>
                            от м.Май до м.Октомври
                        </p>
                    </div>
                </div>

                <div class="card-descr">
                    <i class="bi bi-headset-vr"></i>
                    <h5>Екипировка</h5>
                    <div class="pra">
                        <p>
                           Удобно ежедневно облекло, според сезона.
                           Ниски обувки, които могат да се затягат.
                        </p>
                    </div>
                </div>

                <div class="card-descr">
                    <i class="bi bi-list"></i>
                    <h5>Условия</h5>
                    <div class="pra">
                        <p>
                            Необходима е предварителна резервация - поне 3 дни преди желаната дата за приключението.
                        </p>
                    </div>
                </div>

                <div class="card-descr">
                    <i class="bi bi-hourglass-split"></i>
                    <h5>Времетраене</h5>
                    <div class="pra">
                        <p>
                            Около 2 часа - престой на летище, подготовка, инструктаж.<br />
                            Свободно падане: 30-40 секунди.<br /> С отворен парашут: 5-6 минути.
                        </p>
                    </div>
                </div>

                <div class="card-descr">
                    <i class="bi bi-exclamation-circle"></i>
                    <h5>Ограничения</h5>
                    <div class="pra">
                        <p>
                            Деца до 16 години не се допускат.<br />
                            Деца между 16 и 18 години трябва да се придружават от родител или да имат разрешение от такъв. <br />
                            Без проблем се допускат лица над 18 години.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h1 class="heading">СЪБИТИЯ</h1>
        <div class="events" id="events1">

            <div class="card">
                <div class="face front">
                    <img src="~/photos/skydive1.jfif" class="" alt="" />
                    <h2>Тандемен полет над Монтана</h2>
                </div>
                <div class="face back">
                    <h2>Тандемен полет над Монтана</h2>
                    <p>Скок с Парашут от 3500 м височина, най-невероятното усещане!</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/skydive2.jfif" class="" alt="" />
                    <h2>Тандемен полет над Монтана</h2>
                </div>
                <div class="face back">
                    <h2>Тандемен полет над Монтана</h2>
                    <p>Полет над зелените поля в Шумен.</p>
                    <div class="details"><a href="#">Виж повече</a></div>
                </div>


            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/skydive3.png" class="" alt="" />
                    <h2>Тандемен скок над Рилските езера</h2>
                </div>
                <div class="face back">
                    <h2>Тандемен скок над Рилските езера</h2>
                    <p>Скок с парашут над 7-те Рилски езера.</p>
                    <div class="details"><a href="#">Виж повече</a></div>
                </div>

            </div>

            <div class="card">
                <div class="face front">
                    <img src="~/photos/skydiving.jfif" class="" alt="" />
                    <h2>Тандемен скок над Сапарева баня</h2>
                </div>
                <div class="face back">
                    <h2>Тандемен скок над Сапарева баня</h2>
                    <p>45 секунди свободно падане, 3 минути полет с парашут и акробатика по желание!</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>


            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/skydive4.png" class="" alt="" />
                    <h2>Скок над Монтана</h2>
                </div>

                <div class="face back">
                    <h2>Скок над Монтана</h2>
                    <p>Парашутизмът е „мерцедеса“ на въздушните екстремните преживявания, 
                        а усещането не може да се сравни с нищо.</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>
                <a></a>

            </div>
            <div class="card">
                <div class="face front">
                    <img src="~/photos/skydive6.jfif" class="" alt="" />
                    <h2>Групов скок над Сапарева баня</h2>
                </div>

                <div class="face back">
                    <h2>Групов скок над Сапарева баня</h2>
                    <p>Хванати ръка за ръка, изживяването е още по-незабравимо!</p>
                    <div class="details">
                        <a href="#">Виж повече</a>
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section>

        <div class="gallery" id="gallery1">
            <h1 class="heading">СНИМКИ</h1>
            <div class="g-content">
                <a class="g-item" href=" ~ /photos/skydive5.jfif" @*data-lightbox="models" data-title=""*@>
                    <img src="~/photos/skydive5.jfif" />
                </a>
                <a class="g-item" href="~/photos/skydive3.png" data-lightbox="models" data-title="ATV до София"><img src="~/photos/skydive3.png" /></a>
                <a class="g-item" href="~/photos/skydive8.jfif" data-lightbox="models" data-title="Офроуд до Боровец"><img src="~/photos/skydive8.jfif" /></a>
                <a class="g-item" href="~/photos/skydive1.jfif" data-lightbox="models" data-title="Каране около В.Търново"><img src="~/photos/skydive1.jfif" /></a>
                <a class="g-item" href="~/photos/skydive7.jfif" data-lightbox="models" data-title="Преход из Родопите"><img src="~/photos/skydive7.jfif" /></a>
                <a class="g-item" href="~/photos/skydive9.jfif" data-lightbox="models" data-title="Преход до Добринище"><img src="~/photos/skydive9.jfif" /></a>
                <a class="g-item" href="~/photos/skydive2.jfif" data-lightbox="models" data-title="Офроуд във В.Търново и околностите"><img src="~/photos/skydive2.jfif" /></a>
                <a class="g-item" href="~/photos/skydive10.jfif" data-lightbox="models" data-title="Каране край Белоградчик"><img src="~/photos/skydive10.jfif" /></a>

            </div>

            <div class="popup-img">
                <div class="alert alert-success alert-dismissible">
                    @* <span>&times;</span>*@
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <img src="~/photos/skydive5.jfif" />
                </div>
            </div>
        </div>
    </section>
</body>
