@model IList<Item>
@{
    ViewData["Title"] = "Item";
    Layout = "_Layout";
}

<h1>Items</h1>

<ul>
    @foreach (var t in Model)
    {
        <li>
            <div>@t.ItemType</div>
            <div>@t.Description</div>
            <div>@t.CreatedOn</div>
        </li>
    }
</ul>
